<div class="box">
    <p>treeView</p><br>
    <kendo-treeview [nodes]="data" textField="text" kendoTreeViewHierarchyBinding childrenField="items" [filterable]="true" kendoTreeViewExpandable [expandedKeys]="expandedKeys"></kendo-treeview>
</div>

<div class="box">
    <p>dialog box</p><br>
    <button kendoButton *ngIf="!opened" (click)="open()">Open dialog</button>
    <kendo-dialog title="please confirm" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
        <p>are you sure you want to continue?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="close('no')">no</button>
            <button kendoButton (click)="close('yes')" themeColor="primary">yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<div class="box">
    <p>kendoButton</p><br>
    <button kendoButton (click)="click()">kendo button</button>
</div>

<div class="box">
    <p>kendoCheckbox</p><br>
    &nbsp; <input type="checkbox" #notification kendoCheckBox>
    &nbsp; <input type="checkbox" #notification kendoCheckBox>
    &nbsp; <input type="checkbox" #notification kendoCheckBox>
    &nbsp; <input type="checkbox" #notification kendoCheckBox>
    &nbsp; <input type="checkbox" #notification kendoCheckBox>
</div>